
.event{
  background-image: linear-gradient(to right, #708F96,#AA895F );

}
.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #709F96;
    border-radius: 5px;
    background-color: #708F96;
  }
  
  .label {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .input {
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: black;
  }
  
  .button {
    background-color: #AA895F;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #364649;
  }