/* 
    .landing-page {
      background-image: url('/public/image/slider1.jpg');
      background-position: center;
      background-size: cover;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container {
      max-width: 1200px;
      margin: 0 auto;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -20px;
    }

    .col {
      flex-basis: 50%;
      padding: 0 20px;
    }

    .box {
      background-color: #f7f7f7;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin-bottom: 20px;
    }

    .h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

   .p {
      font-size: 16px;
      line-height: 1.5;
    }
   */